	<!-- debut de head-->
    <%- include('head'); -%>
    <!--Fin de head -->
    <style>
           .error
          {
              color: red;
          }
          #erreurdeoperation{
              position: absolute;
              top: 40%;
              display: none;
          }
          #sucessoperation {
            position: absolute;
              top: 50%;
              display: none;
          }
          #tabl {
              display: none;
          }
         
    </style>
        </head>

        <%- include('menue'); -%>
        
                    <main class="col-md-9  ms-sm-auto col-lg-10 px-md-4">
                        <div class="row">
                            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                                <div class="page-title text-primary mb-2 mb-sm-0">
                                    <h1 class="text-dark">BALANCE A DATE </h1>
                                </div>
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="align-items-center row">
                                <div id="erreurdeoperation" class="text-center bg-warning text-white offset-md-3 col-lg-4  py-3">
                                <h3>Veuillez bien renseigner les informations</h3>  
                                </div>
                              </div> 
                              <div class="align-items-center row">
                                <div id="sucessoperation" class="text-center bg-primary text-white offset-md-3 col-lg-4  py-3">
                                <h3>Operation Validé  </h3>  
                                </div>
                              </div> 
                        </div>
                        <div class="row" >
                         
                          
                            <div class="col-xxl-12 mt-5 col-lg-12">
                                <form method="post" id="operation" action="/AgentAmbassade/BalanceDate" class="cmxform form-verticale style-form">
                                   <div class="row">
                                    <div class=" col-lg-3">
                                        <label class="text-dark">Date  </label>
                                        <input class=" form-control p-1"  id="datedebut" name="datedebut" type="date">
                                      
                                    </div>
                                   
                                    <div class=" col-lg-2">
                                        <button  class="btn btn-primary form-control m-3">Rechercher </button>    
                                    </div>
                                   </div>
                                   
                                </form>
                            </div>
                          
                          
                        </div>                  
                     
                        
                        <div class="row"  style="box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); padding: 5px; margin: 2px;" id="tabl">
                              <div class="col-lg-12 text-dark">
                                  <div class="row">
                                      <div class="col-lg-4">
                                        <p >Ambassade  de la république de Guinée au  <%= pays %> </p>
                                         <p  >telephone : 625121212</p>
                                         <p  >Email : camararebecca@gmail.com</p>
                                      </div>

                                      <div class="col-lg-4">
                                          <img src="/assets/semantic/assets/img/guinee.jpg" />
                                      </div>
                                      
                                      <div class="col-lg-4">
                                          <h2>
                                          </h2>
                                      </div>
                                      
                                  </div>
                              </div>
                              <div class="col-lg-12 text-center bg-primary">
                                   <h1 class="text-white">Balance A Date</h1>
                                   <span id="ladate" class="text-white" style="font-size: 20px;"> </span>

                              </div>
                             <hr class="text-primary">
                             
                              <div  class="col-lg-12 text-dark">
                                <div class="table-responsive m-t-40" style="clear: both;">
                              
                                    <table  id="tableau" class="table table-striped table-bordered dataTable" id="tableau">
                                        <thead>
                                            <tr>
                                                <th class="text-left  text-center" >Numéro de Compte </th>
                                                <th class="text-left  text-center" >Intitulé de Compte</th>
                                                <th class="text-left text-center" >Total Débit </th>
                                                <th class="text-left text-center" >Total Crédit  </th>
                                                <th class="text-left text-center" >Solde Debiteur </th>
                                                <th class="text-left text-center" >Solde Créditeur </th>
                                            </tr>
                                          
                                        </thead>
                                        
                                        <tbody class="text-left text-center">
                                          

                                        </tbody>
                                       
                                    </table>
                                
                                </div>
                              </div>
                              
                        </div>
                        <div class="row">
                            <div class="pt-5 col-md-12">
                                  
                                    
                                <div class="text-right">
                                    <button id="imprimer" class="btn btn-success" type="submit"> Inprimer le document</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </main>
                </div>
            </div>
            <script src="/assets/semantic/assets/js/popper.min.js"></script>
            <script src="/assets/semantic/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/semantic/assets/js/jquery.min.js"></script>
            <script src="/assets/semantic/assets/js/moment.min.js"></script>
 
        <script src="/assets/semantic/assets/js/jquery.validate.js"></script>
        <script src="/assets/semantic/assets/js/html2pdf.bundle.min.js"></script>
    
<script>
    function ligneetat(numcpt , intdecompte, libelecrit, debit, credit , ladate) {
    var lesdebit = debit -credit;
    alert(lesdebit)  ;

   var firstline = document.createElement('div');
           firstline.setAttribute("class", "col-lg-12 text-dark");
           var row = document.createElement('div') 
           row.setAttribute("class", "row");
           var div1 = document.createElement('div') 
           div1.setAttribute("class", "col-lg-2");
           var h5 = document.createElement('h5') 
           h5.innerHTML = numcpt
           div1.appendChild(h5);
           row.appendChild(div1);
           var div2 = document.createElement('div') 
           div2.setAttribute("class", "col-lg-5");
           var p = document.createElement('p') 
           p.innerHTML = intdecompte;
           var span = document.createElement('span');
           span.innerHTML = libelecrit;
           div2.appendChild(p);
           div2.appendChild(span);
           row.appendChild(div2);  
           var div3 = document.createElement('div') 
           div3.setAttribute("class", "col-lg-1");
           var p1 = document.createElement('p') 
           p1.innerHTML = ladate;
           div3.appendChild(p1);
           row.appendChild(div3);  
           var div4 = document.createElement('div') 
           div4.setAttribute("class", "col-lg-2");
           var p2 = document.createElement('p') ;
           p2.innerHTML = debit;
           div4.appendChild(p2);
           row.appendChild(div4);
           var div5 = document.createElement('div') ;
           div5.setAttribute("class", "col-lg-2");
           var p3 = document.createElement('p') ;
           p3.innerHTML = credit;
           div5.appendChild(p3);
           row.appendChild(div5);
           
           var hr = document.createElement('hr') ;
           var ligne1 = document.querySelector("#here");
           firstline.appendChild(row);
           firstline.appendChild(hr);

           $(ligne1).after(firstline);
           

       }
 
   $().ready(function() {
       
     // validate the comment form when it is submitted
     jQuery.validator.addMethod("phoneGuinee", function (phone_number, element) {
       phone_number = phone_number.replace(/\s+/g, "");
       return this.optional(element) || phone_number.length >= 9 && phone_number.match(/^6[1,2,5,6]{1}[0-9]{7}$/);
   }, "Veuillez Entrez le bon format de Numero");
     // validate signup form on keyup and submit
     $("#operation").validate({
       rules: {
        
        datedebut: {
           required: true
         }
       },
       messages: {
        datedebut: {
           required: "Veuillez renseigner une date "
        }
       },
       submitHandler: function(form){
    
$.ajax({
   url: form.action,
   type: form.method,
   data: $(form).serialize(),
   success: function(response) {
    
        if (response.erreurdeoperation) {  
          
                $("#erreurdeoperation").css({ 
                     display: 'block'
                   });
                   setTimeout(function () {
                       $("#erreurdeoperation").css({ 
                     display: 'none'
                   });
                   }, 3000);
        
                }  
                     
                if (response.balance) {  
                    $("#tabl").css({ 
                      display: 'block'
                    });
                   var unedate =  moment(response.datedebut).format('DD / MM / YYYY ');
                    var datedebut = document.getElementById("ladate")  ;
                    datedebut.innerText = unedate;  
                           

                   var  table = response.balance; 
                   var tableau = document.querySelector("#tableau");                    
                   for (var i = 0; i < table.length; i++) {
                       var element = table[i];
                     
                       var lesdebit = lesdebit + element.debit ;  
                       var lescredit = lescredit + element.credit ; 
                       var toto = lesdebit - lescredit;
                       var ladate =  moment(element.datecr).format('DD / MM / YYYY ');
                                  
 var ligne = tableau.insertRow(-1);//on a ajouté une ligne
 var colonne0 = ligne.insertCell(0);//on ajoute la seconde cellule
 colonne0.innerHTML += element.numcpte;
 var colonne1 = ligne.insertCell(1);//on ajoute la seconde cellule
 colonne1.innerHTML += element.intutile;

 var colonne2 = ligne.insertCell(2);//on ajoute la seconde cellule
 //convertir 
 var sdebit = new Intl.NumberFormat('gn-GN').format(element.sommedebit);
 colonne2.innerHTML += sdebit;

 var colonne3 = ligne.insertCell(3);//on ajoute la seconde cellule
 //convertir 
 
 var scredit = new Intl.NumberFormat('gn-GN').format(element.sommecredit);
 colonne3.innerHTML += scredit;
 if (element.sommedebit > element.sommecredit  ) {
     
 var colonne4 = ligne.insertCell(4);//on ajoute la seconde cellule
 //convertir
 
 var st = new Intl.NumberFormat('gn-GN').format(element.sommedebit - element.sommecredit);
 colonne4.innerHTML += st ;
 var colonne5 = ligne.insertCell(5);//on ajoute la seconde cellule
 colonne5.innerHTML += 0;
 
 }
 if (element.sommedebit  < element.sommecredit ) {
     
     var colonne4 = ligne.insertCell(4);//on ajoute la seconde cellule
     colonne4.innerHTML += 0;
     var colonne5 = ligne.insertCell(5);//on ajoute la seconde cellule
     //convertir 
     
 var st = new Intl.NumberFormat('gn-GN').format(element.sommecredit - element.sommedebit);
     colonne5.innerHTML += st;
     
     }
     if (element.sommedebit  == element.sommecredit ) {
     
     var colonne4 = ligne.insertCell(4);//on ajoute la seconde cellule
     colonne4.innerHTML += 0;
     var colonne5 = ligne.insertCell(5);//on ajoute la seconde cellule
     colonne5.innerHTML += 0;
     
     }


   
                   }
       
                }       
       
       
                  }            
     });       
}


     });
 
 
     //code to hide topic selection, disable for demo
     var newsletter = $("#newsletter");
     // newsletter topics are optional, hide at first
     var inital = newsletter.is(":checked");
     var topics = $("#newsletter_topics")[inital ? "removeClass" : "addClass"]("gray");
     var topicInputs = topics.find("input").attr("disabled", !inital);
     // show when newsletter is checked
     newsletter.click(function() {
       topics[this.checked ? "removeClass" : "addClass"]("gray");
       topicInputs.attr("disabled", !this.checked);
     });
 // Recuperer la liste d'unne ville correspondant a un pays 
 



   });
</script>
  
     <script>
        document.querySelector("#imprimer").addEventListener("click", ()=>{
            const invoice = this.document.getElementById("tabl");
            var opt = {
  margin:       0.1,
  filename:     'balanceadate.pdf',
  image:        { type: 'jpeg', quality: 0.98 },
  html2canvas:  { scale: 2 },
  jsPDF:        { unit: 'in', format: 'a4', orientation: 'landscape' }
};
            html2pdf().from(invoice).set(opt).save();
            
        })



        

        $('#irt').on('click', function(e){
              
            ligneetat('huuu', "HGAGG", "HYST", "POPO", "YYYAYY");
 }) 
</script>
    
        </body>
    </html>
    