<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <title>Minsitere dashboard  Agent</title>
        <!-- Bootstrap core CSS -->
        <link href="/assets/semantic/bootstrap_theme/bootstrap.css" rel="stylesheet" type="text/css"/>
        <!-- Custom styles for this template -->
        <link href="/assets/semantic/dashboard.css" rel="stylesheet"/>
        <link href="/assets/semantic/chartjs.css" rel="stylesheet"/>
        
	